__pycache__/
*.pyc
firmware/rom_images.c
firmware/build/
test/build/
firmware/build-watch/
firmware/build-watch-nocs/
firmware/build-assist/
firmware/build-assist-plain/
firmware/build-watch-200/
firmware/build-ramtest/
firmware/build-200/
firmware/build-*/
